{% extends "base.html" %}

{% block title %}Modelos - Trabalhos Académicos{% endblock %}

{% block content %}
<div class="texto">
    <h2>Modelos de Trabalhos Acadêmicos</h2>
    <p>Esta seção contém modelos e templates para ajudar você na construção de seus trabalhos acadêmicos.</p>
    <p>Em breve, estaremos adicionando diversos modelos de trabalhos como:</p>
    <ul>
        <li>Artigos Científicos</li>
        <li>Monografias</li>
        <li>Relatórios Técnicos</li>
        <li>Resumos e Resenhas</li>
        <li>Projetos de Pesquisa</li>
    </ul>
    <p>Fique atento para as atualizações!</p>
</div>
{% endblock %}
