body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 40px;
}
.texto {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    line-height: 1.5;
    text-align: justify;
}

.texto p {
    text-indent: 1.25cm; /* recuo de parágrafo padrão ABNT */
    margin-bottom: 12pt;
}
.pet {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    line-height: 1.5;
    text-align: center;
}