<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Trabalhos Academicos{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../static/icon.png">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>-->
</head>
<body>

<header>
    <h1><img src="../static/icon.png" alt="ícone" class="site-icon"> Trabalhos Academicos</h1>
</header>

<nav class="main-nav">
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/modelos">Modelos</a></li>
        <li><a href="/informacoes">Informações</a></li>
        <li><a href="/contato">Contato</a></li>
    </ul>
</nav>

<main id="main-content">
    {% block content %}{% endblock %}
</main>

<footer>
    <p>Este site foi desenvolvidos com o intuido de ajudar a construção de trabalhos Academicos</p>
    <div class="pet">pet 0.0.03</div>
    <p>© 2026</p>
</footer>

<script src="../static/script.js"></script>

</body>
</html>
