<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Trabalhos Academicos{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>-->
</head>
<body>

<header>
    <h1>Trabalhos Academicos</h1>
    <p>Construindo do zero</p>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>Este site foi desenvolvidos com o intuido de ajudar a construção de trabalhos Academicos</p>
    <p>© 2026</p>
</footer>

</body>
</html>
